@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppCrud.Models.Empleado

<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Empleado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Eliminar Empleado</h1>
        <p class="text-danger">¿Está seguro de que desea eliminar este empleado?</p>
        <dl class="row">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Fecha de Contrato</dt>
            <dd class="col-sm-9">@Model.FechaContrato.ToShortDateString()</dd>

            <dt class="col-sm-3">Activo</dt>
            <dd class="col-sm-9">@Model.Activo</dd>
        </dl>
        <form asp-action="EliminarEmpleado" method="post">
            <input type="hidden" asp-for="IdEmpleado" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="@Url.Action("ObtenerEmpleados")" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


