@model IEnumerable<AppCrud.Models.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<style>
    /* Estilos personalizados */
    body {
        background-color: #ffffff; /* Fondo blanco */
    }

    .list-container {
        background-color: #ffffff; /* Fondo blanco */
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

        .list-container table {
            background-color: #ffffff; /* Fondo blanco */
            color: #000000; /* Texto negro */
        }
</style>

<div class="container list-container">
    <h1 class="mb-4">Lista de Empleados</h1>
    <a href="@Url.Action("CrearEmpleado")" class="btn btn-success mb-3">Nuevo Empleado</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de Contrato</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empleado in Model)
            {
                <tr>
                    <td>@empleado.Nombre</td>
                    <td>@empleado.Email</td>
                    <td>@empleado.FechaContrato.ToString("yyyy-MM-dd")</td>
                    <td>@(empleado.Activo ? "Sí" : "No")</td>
                    <td>
                        <a href="@Url.Action("EditarEmpleado", new { id = empleado.IdEmpleado })" class="btn btn-sm btn-success">Editar</a>
                        <a href="@Url.Action("EliminarEmpleado", new { id = empleado.IdEmpleado })" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
